<?xml version="1.0"?>
<robot name="big_robot_toy_planning">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.000363" ixy="0" ixz="0" iyy="0.000363" iyz="0"
          izz="0.00006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/visual/big_robot_toy.obj"/>
      </geometry>
    </visual>
    <collision group="target">
      <geometry>
        <box size="0.099 0.034 0.179" />
      </geometry>
    </collision>
   </link>
</robot>
